<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" style="height: auto;">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="${ctx}/themes/default/static/AdminLTE-2.3.8/img/user2-160x160.jpg" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>Alexander Pierce</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input name="q" class="form-control" placeholder="Search..." type="text">
				<span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
			</div>
		</form>
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<li class="active treeview">
				<a href="#">
					<i class="fa fa-dashboard"></i>
					<span>流程中心</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="${ctx}/workflow/list"><i class="fa fa-circle-o"></i> 常用流程</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> 全部流程</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-files-o"></i>
					<span>任务管理</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="${ctx}/task/list"><i class="fa fa-circle-o"></i> 我的任务</a></li>
					<li><a href="${ctx}/task/sign/list"><i class="fa fa-circle-o"></i> 未签收</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> 办理中</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> 已完成</a></li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-th"></i>
					<span>班级中心</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="#"><i class="fa fa-circle-o"></i> 我的班级</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> 我的同学</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> 我的老师</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> 我的作业</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-pie-chart"></i>
					<span>数据中心</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> 成绩报告</a></li>
					<li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> 出勤报告</a></li>
				</ul>
			</li>
			<li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>文档中心</span></a></li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
