<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="${ctx}/themes/default/static/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="${ctx}/themes/default/static/bootstrap-3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
<div>
	login
</div>
</body>
<script type="application/javascript" rel="script" src="${ctx}/themes/default/static/jquery-3.1.0/jquery.min.js"></script>
<script type="application/javascript" rel="script" src="${ctx}/themes/default/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</html>
