<title>添加用户关系</title>
<section class="content">
	<form id="createSubmit" method="post" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1">用户名</label>
			<div class="col-md-8 col-sm-8">
				<select class="form-control">
					<#if users??>
						<#list users as user>
							<option value="${user.id}">${user.name}</option>
						</#list>
						<#else/>
						<option >--</option>
					</#if>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1">组名称</label>
			<div class="col-md-8 col-sm-8">
				<select class="form-control">
					<#if groups??>
						<#list groups as group>
							<option value="${group.id}">${group.englishName}</option>
						</#list>
						<#else/>
						<option >--</option>
					</#if>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Join</button>
			</div>
		</div>
	</form>
</section>
