th {text-align: center !important;}
.form-control{width: 50% !important;}
select[class|="form-control"] {width: 20% !important;}
hr {height:1px;border:none;border-top:1px dashed #0066CC;}
a{cursor: pointer}
.border{border: 1px solid rgba(97, 144, 102, 0.41);border-radius: 2px}
