th {text-align: center !important;}
.form-control{width: 50% !important;}
select[class|="form-control"] {width: 20% !important;}
hr {height:1px;border:none;border-top:1px dashed #0066CC;}
a{cursor: pointer}
.border{border: 1px solid rgba(97, 144, 102, 0.41);border-radius: 2px;padding: 4px 1px 3px 1px }
.dropMenu{position: relative;border-collapse: separate;display: table}
.stackShow{position: absolute;z-index: 9999;background-color: rgba(232, 232, 227, 0.89);min-width: 250px;align-content: center}
ul{list-style: none !important}
.list-item{color: #333;font-size: 15px;cursor: pointer;font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif}
.list-item:hover{text-decoration: underline !important;color: #333 !important;}
.list-item:visited{color: #333 !important;}
.content-tab{padding: 15px;margin-left: auto;margin-right: auto;padding-left: 15px;padding-right: 15px;border-bottom-width: 0.8px;border-bottom-style: dashed;border-bottom-color: rgba(140, 223, 180, 0.65)}
.table{margin:15px;border-collapse: collapse}
thead{background-color: rgba(113, 161, 223, 0.65)}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{border: 1px solid #bfb6b6 !important;}
td{text-align: center;text-align: -webkit-center}
.pagination{margin: 7px 0 !important;}
a.option{font-family: "Segoe UI Emoji","Open Sans";font-size: medium;font-style: normal;font-kerning: normal;font-language-override: normal  }
