<title>流程办理</title>
<css>
	<link type="text/css" rel="stylesheet" href="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/css/fileinput.min.css" />
	<link rel="stylesheet" type="text/css" href="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/datatimepicker/jquery.datetimepicker.min.css">
</css>
<section class="content">
	<div class="row border content">
		<#if form??>
			<form class="submit" method="post" action="${ctx}/task/submit/${form.objId}" class="form-horizontal" role="form" enctype="multipart/form-data">
				<#if form.isFormkey == false>
					<div class="row container-fluid content-item">
						<div class="col-md-9">
							<#list form.form.formProperties as formProperties>
								<#if formProperties.type == "string">
									<div class="row form">
										<div class="col-md-2 info">
											<label class="dinosaurOA-lable" for="stringInput">${formProperties.name}：</label>
										</div>
										<div class="col-md-4">
											<div>
												<#if formProperties.readable == true>
													<#if formProperties.writable == true>
														<#if formProperties.required == true>
															<input type="text" required="required" class="input form-control" name="${formProperties.id}" id="stringInput" value="${formProperties.value!''}" />
															<#else/>
															<input type="text" class="input form-control" name="${formProperties.id}" id="stringInput" value="${formProperties.value!''}" />
														</#if>
														<#else/>
														<input type="text" class="input form-control" name="${formProperties.id}" id="stringInput" value="${formProperties.value!''}" />
													</#if>
													<#else/>
													<input type="text" readonly="readonly" disabled="disabled" class="input form-control" name="${formProperties.id}" value="${formProperties.value!''}" />
												</#if>
											</div>
										</div>
									</div>
									<#elseif formProperties.type == "date"/>
										<div class="row form">
											<div class="col-md-2 info">
												<label class="dinosaurOA-lable" for="datetimepickerInput">${formProperties.name}：</label>
											</div>
											<div class="col-md-4">
												<div>
													<#if formProperties.readable == true>
														<#if formProperties.writable == true>
															<#if formProperties.required == true>
																<input type="text" required="required" class="input datetimepicker form-control" name="${formProperties.id}" id="datetimepickerInput" value="${formProperties.value!''}" />
																<#else/>
																<input type="text" class="input datetimepicker form-control" name="${formProperties.id}" id="datetimepickerInput" value="${formProperties.value!''}" />
															</#if>
															<#else/>
															<input type="text" class="input datetimepicker form-control" name="${formProperties.id}" id="datetimepickerInput" value="${formProperties.value!''}"/>
														</#if>
														<#else/>
														<input type="text" readonly="readonly" disabled="disabled" class="input form-control" name="${formProperties.id}" id="datetimepickerInput" value="${formProperties.value!''}" />
													</#if>
												</div>
											</div>
										</div>
										<#elseif formProperties.type == "enum"/>
											<div class="row form">
												<div class="col-md-2 info">
													<label class="dinosaurOA-lable">${formProperties.name}:</label>
												</div>
												<div class="col-md-4">
													<#if formProperties.readable == true>
														<#if formProperties.writable == true>
															<select name="${formProperties.id}" class="border input">
																<#list formProperties.value as val>
																	<option value="${val.key}" style="min-width: 100px">${val.value}</option>
																</#list>
															</select>
															<#else/>
															<input type="text" readonly="readonly" disabled="disabled" value="${formProperties.value!''}">
														</#if>
													</#if>
												</div>
											</div>
											<#else/>
												<div class="row from">
													<div class="col-md-2 info">
														<label>${formProperties.name}</label>
													</div>
													<div class="col-md-2">
														<input type="text" class="${formProperties.id}" name="${formProperties.id}" placeholder="${formProperties.name}">
													</div>
												</div>
								</#if>
							</#list>
						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="center border">
									<div>
										<label style="padding-top: 10px">附件区</label>
										<div>
											<ul class="list-group">
												<#if attachments??>
													<#list attachments as attachment>
														<li class="list-group-item">
															<a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="${ctx}${attachment.url}">${attachment.name}</a>
														</li>
													</#list>
												</#if>
											</ul>
										</div>
									</div>
									<hr/>
								</div>
							</div>
						</div>
					</div>
					<#else/>
					<div>
						${form.form}
					</div>
				</#if>
			</form>
			<#else/>
			<h2>${message!'请求表单数据加载失败'}</h2>
		</#if>
		<div class="container-fluid content-item" style="text-align: center">
			<hr style="border-top: 1px dotted #ad8a8a"/>
			<label class="tip">如果包含附件请选择添加，多个文件请一次性选择多个</label>
			<hr style="border-top: 1px dotted #ad8a8a"/>
		</div>
		<div class="container-fluid content-item">
			<div class="col-md-2 info">
				<label class="control-label dinosaurOA-lable" for="attachmentInput">添加附件（可选）:</label>
			</div>
			<div class="col-md-8">
				<input type="file" id="attachmentInput" name="file" class="file-uploading" multiple>
				<div id="errorBlock" class="help-block"></div>
			</div>
		</div>
	</div>
</section>
<section class="content-tab">
	<div class="row" style="text-align: center">
		<button type="button" class="btn btn-default">提交</button>
	</div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">附件预览</h4>
			</div>
			<div class="modal-body">
				<embed src="" width="100%" height="100%"></embed>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<js>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/plugins/sortable.min.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/plugins/purify.min.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/themes/gly/theme.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
	<script type="application/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/datatimepicker/jquery.datetimepicker.full.min.js"></script>
	<script type="text/javascript">
		$.datetimepicker.setLocale('en');
		$('.datetimepicker').datetimepicker({
			format: 'Y-m-d H:i:s'
		});
		$.datetimepicker.setLocale('zh');
		$(document).on('ready', function () {
			$("#attachmentInput").fileinput({
				showCaption: true,
				showUpload : true,
				showRemove : true,
				language : 'zh',
				maxFileSize : 20000,
				uploadUrl: "${ctx}/uploadFactory/upload",
				uploadAsync: true,
			});
		});
		$('#exampleModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var recipient = button.data('whatever')
			var modal = $(this)
			modal.find('.modal-body embed').attr("src",recipient);
		})
		$(document).on("ready", function () {
			var height = $(document.body).height()*0.6;
			$(".modal-body").css("height",height);
		})
	</script>
</js>
