<title>流程办理</title>
<section class="content">
	<div class="row content">
		<#if form??>
			<form class="submit" method="post" action="${ctx}/task/submit/${form.objId}" class="form-horizontal" role="form" enctype="multipart/form-data">
				<#if form.isFormkey == false>
					<div class="container-fluid">
						<div class="row">
							<div style="float: right">
								<input type="submit" value="同意申请">
							</div>
						</div>
						<#list form.form.formProperties as formProperties>
							<#if formProperties.type == "string">
								<div class="row form">
									<div class="col-md-2 info">
										<label class="dinosaurOA-lable" for="${formProperties.id}">${formProperties.name}</label>
									</div>
									<div class="col-md-2">
										<#if formProperties.writable == false>
											<lable>${formProperties.value!''}</lable>
											<#else/>
											<input type="text" value="${formProperties.value!''}" name="${formProperties.id}" placeholder="${formProperties.name}">
										</#if>
									</div>
								</div>
								<#elseif formProperties.type == "date">
									<css>
										<link rel="stylesheet" type="text/css" href="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/datatimepicker/jquery.datetimepicker.min.css">
									</css>
									<js>
										<script type="application/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/datatimepicker/jquery.datetimepicker.full.min.js"></script>
										<script>
											$.datetimepicker.setLocale('en');
											$('.datetimepicker').datetimepicker({
												format: 'Y-m-d H:i:s'
											});
											$.datetimepicker.setLocale('zh');
										</script>
									</js>
									<div class="row form">
										<div class="col-md-2 info">
											<label class="dinosaurOA-lable" for="${formProperties.id}">${formProperties.name}</label>
										</div>
										<div class="col-md-2">
											<#if formProperties.writable == false>
												<lable>${formProperties.value!''}</lable>
												<#else/>
												<input type="text" name="${formProperties.id}" value="${formProperties.value!''}" class="datetimepicker">
											</#if>
										</div>
									</div>
									<#elseif formProperties.type == "enum">
										<div class="row form">
											<div class="col-md-2 info">
												<label class="dinosaurOA-lable" for="${formProperties.id}">${formProperties.name}</label>
											</div>
											<div class="col-md-2">
												<#if formProperties.writable == false>
													<lable>${formProperties.value!''}</lable>
													<#else/>
													<select name="${formProperties.id}">
														<#list formProperties.value as val>
															<option value="${val.key}">${val.value}</option>
														</#list>
													</select>
												</#if>
											</div>
										</div>
										<#else>
											<div class="row from">
												<div class="col-md-2 info">
													<label for="${formProperties.id}">${formProperties.name}</label>
												</div>
												<div class="col-md-2">
													<input type="text" class="${formProperties.id}" name="${formProperties.id}" placeholder="${formProperties.name}">
												</div>
											</div>
							</#if>
						</#list>
					</div>
					<#else/>
					<div>
						${form.form}
					</div>
				</#if>
			</form>
			<#else/>
			<h2>${message!'请求表单数据加载失败'}</h2>
		</#if>
	</div>
</section>
