<title>启动办理</title>
<css>
	<link type="text/css" rel="stylesheet" href="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/css/fileinput.min.css" />
	<link rel="stylesheet" type="text/css" href="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/datatimepicker/jquery.datetimepicker.min.css">
</css>
<section class="content">
	<div class="row content border">
		<#if form??>
			<form class="submitApply" method="post" action="${ctx}/workflow/submit/${form.objId}" class="form-horizontal" role="form" enctype="multipart/form-data">
				<div id="attachment">

				</div>
				<#if form.isFormKey == false>
					<div class="container-fluid content-item">
						<#list form.form.formProperties as formProperties>
							<#if formProperties.type == "string">
								<div class="row form">
									<div class="col-md-2 info">
										<label class="dinosaurOA-lable" for="stringInput">${formProperties.name}:</label>
									</div>
									<div class="col-md-4">
										<div>
											<#if formProperties.readable == true>
												<#if formProperties.writable == true>
													<#if formProperties.required == true>
														<input type="text" required="required" class="input form-control" name="${formProperties.id}" id="stringInput" placeholder="${formProperties.name}"/>
														<#else/>
														<input type="text" class="input form-control" name="${formProperties.id}" id="stringInput" placeholder="${formProperties.name}"/>
													</#if>
													<#else/>
													<input type="text" class="input form-control" name="${formProperties.id}" id="stringInput" placeholder="${formProperties.name}"/>
												</#if>
												<#else/>
												<input type="text" readonly="readonly" disabled="disabled" class="input form-control" name="${formProperties.id}" placeholder="${formProperties.name}"/>
											</#if>
										</div>
									</div>
								</div>
								<#elseif formProperties.type == "date"/>
									<div class="row form">
										<div class="col-md-2 info">
											<label class="dinosaurOA-lable" for="datetimepickerInput">${formProperties.name}:</label>
										</div>
										<div class="col-md-4">
											<div>
												<#if formProperties.readable == true>
													<#if formProperties.writable == true>
														<#if formProperties.required == true>
															<input type="text" required="required" class="input datetimepicker form-control" name="${formProperties.id}" id="datetimepickerInput" value="${formProperties.value!''}" />
															<#else/>
															<input type="text" class="input datetimepicker form-control" name="${formProperties.id}" id="datetimepickerInput" value="${formProperties.value!''}" />
														</#if>
														<#else/>
														<input type="text" class="input datetimepicker form-control" name="${formProperties.id}" id="datetimepickerInput" value="${formProperties.value!''}"/>
													</#if>
													<#else/>
													<input type="text" readonly="readonly" disabled="disabled" class="input form-control" name="${formProperties.id}" id="datetimepickerInput" value="${formProperties.value!''}" />
												</#if>
											</div>
										</div>
									</div>
									<#elseif formProperties.type == "enum"/>
										<div class="row form">
											<div class="col-md-2 info">
												<label class="dinosaurOA-lable">${formProperties.name}:</label>
											</div>
											<div class="col-md-4">
												<select name="${formProperties.name}">
													<option value="${formProperties.id}">${formProperties.name}</option>
													<option value="${formProperties.id}">${formProperties.name}</option>
												</select>
											</div>
										</div>
										<#else/>
											<div class="row from">
												<div class="col-md-2 info">
													<label>${formProperties.name}</label>
												</div>
												<div class="col-md-4">
													<#if formProperties.readable == true>
														<#if formProperties.writable == true>
															<select name="${formProperties.id}" class="border input">
																<#list formProperties.value as val>
																	<option value="${val.key}" style="min-width: 100px">${val.value}</option>
																</#list>
															</select>
															<#else/>
															<input type="text" readonly="readonly" disabled="disabled" value="${formProperties.value!''}">
														</#if>
													</#if>
												</div>
											</div>
							</#if>
						</#list>

					</div>
					<#else/>
					<div>
						${form.form}
					</div>
				</#if>
			</form>
			<#else/>
			<h2>${message!'请求表单数据加载失败'}</h2>
		</#if>
		<div class="container-fluid content-item" style="text-align: center">
			<hr style="border-top: 1px dotted #ad8a8a"/>
			<label class="tip">如果包含附件请选择添加，多个文件请一次性选择多个</label>
			<hr style="border-top: 1px dotted #ad8a8a"/>
		</div>
		<div class="container-fluid content-item">
			<div class="col-md-2 info">
				<label class="control-label dinosaurOA-lable" for="attachmentInput">添加附件（可选）:</label>
			</div>
			<div class="col-md-8">
				<input type="file" id="attachmentInput" name="file" class="file-uploading" multiple>
				<div id="errorBlock" class="help-block"></div>
			</div>
		</div>
	</div>
</section>
<section class="content-tab">
	<div class="row" style="text-align: center">
		<button type="button" id="apply" class="btn btn-default">发起申请</button>
	</div>
</section>
<js>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/plugins/sortable.min.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/plugins/purify.min.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/themes/gly/theme.js"></script>
	<script type="text/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
	<script type="application/javascript" rel="script" src="${ctx}/themes/default/static/AdminLTE-2.3.8/plugins/datatimepicker/jquery.datetimepicker.full.min.js"></script>
	<script type="text/javascript">
		$.datetimepicker.setLocale('en');
		$('.datetimepicker').datetimepicker({
			format: 'Y-m-d H:i:s',
			minDate:'new Data()'
		});
		$.datetimepicker.setLocale('zh');
		$(document).on('ready', function () {
			$("#attachmentInput").fileinput({
				showCaption: true,
				showUpload : true,
				showRemove : false,
				language : 'zh',
				maxFileSize : 20000,
				uploadUrl: "${ctx}/uploadFactory/upload",
				uploadAsync: true,
				overwriteInitial: true,
				showClose: false
			}).on("fileuploaded",function (event, data, previewId, index) {
				if (null != data.response && data.response.state == 1){
					var input =  document.createElement("input");
					input.setAttribute("type","hidden");
					input.setAttribute("name", "attachment");
					input.setAttribute("id", previewId);
					input.setAttribute("value", data.response.data[0]);
					$("#attachment").append(input);
				} else {
					alert("文件上传失败")
				}
			});
		});
		$("#attachmentInput").on("filepreremove",function (event, key) {
			$("#"+key).remove();
		});
		$("#apply").click(function () {
			$(".submitApply").submit();
		})
	</script>
</js>
