<title>组列表</title>
<section class="content">
	<div class="row">
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>名称</th>
				<th>英文名</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<#if groups??&&groups?size gt 0>
				<#list groups as group>
					<tr>
						<th>${group.name}</th>
						<th>${group.englishName}</th>
						<th>
							<a id="modelDelete" type="button" data-toggle="modal" data-target="#myModal" onclick="del('${group.id}')">
								删除
							</a>
							<a id="modelEditor" type="button" data-toggle="modal" data-target="#myModal" onclick="editor('${group.id}')">
								编辑
							</a>
						</th>
					</tr>
				</#list>
				<#else/>
				<tr>
					<th colspan="7"><label>没有查询到组信息</label></th>
				</tr>
			</#if>
			</tbody>
		</table>
	</div>
</section>
<js>
	<script>
		function del(obj) {
			alert(obj);
		}

		function editor(obj) {
			alert(obj);
		}
	</script>
</js>

