<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" style="height: auto;">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="${user.pic!'${ctx}/themes/default/static/AdminLTE-2.3.8/img/user2-160x160.jpg'}" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>${user.name!'user.name'}</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input name="q" class="form-control" placeholder="Search..." type="text">
				<span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
			</div>
		</form>
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<li class="active treeview">
				<a href="#">
					<i class="fa fa-dashboard"></i> <span>用户管理</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="${ctx}/group/manager/list"><i class="fa fa-circle-o"></i> 用户组列表</a></li>
					<li><a href="${ctx}/group/manager/add"><i class="fa fa-circle-o"></i> 用户组添加</a></li>
					<li><a href="${ctx}/user/manager/list"><i class="fa fa-circle-o"></i> 用户列表</a></li>
					<li><a href="${ctx}/user/manager/add"><i class="fa fa-circle-o"></i> 用户添加</a></li>
					<li><a href="${ctx}/user/manager/relationship"><i class="fa fa-circle-o"></i> 用户组用户关系维护</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-files-o"></i>
					<span>流程管理</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="${ctx}/modeler/list"><i class="fa fa-circle-o"></i> 模型列表</a></li>
					<li><a href="${ctx}/modeler/create"><i class="fa fa-circle-o"></i> 模型创建</a></li>
					<li><a href="${ctx}/category/manager/list"><i class="fa fa-circle-o"></i> 分类管理</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-pie-chart"></i>
					<span>班级中心</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> 已用教室</a></li>
					<li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> 未用教室</a></li>
					<li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> 预留</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-pie-chart"></i>
					<span>作业中心</span>
				</a>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-pie-chart"></i>
					<span>考勤中心</span>
				</a>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-pie-chart"></i>
					<span>数据中心</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="#"><i class="fa fa-circle-o"></i> 考勤数据</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> 作业数据</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> 成绩数据</a></li>
				</ul>
			</li>
			<li><a href="#"><i class="fa fa-book"></i> <span>文档中心</span></a></li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
